.ng-nouislider-tooltip-autohide .noUi-tooltip {
  visibility: hidden;
}

.ng-nouislider-tooltip-autohide .noUi-active .noUi-tooltip {
  visibility: visible;
}

.ng-nouislider-vertical-tooltip-right-positioned .noUi-vertical .noUi-handle .noUi-tooltip {
  right: unset;
  left: 120%;
}
