.noUi-horizontal {
  width: 100%;
  height: 14px;
}

.noUi-vertical {
  height: 100%;
  width: 14px;
}

.noUi-target:not([disabled]) .noUi-handle:hover {
  background: #eee;
}

.noUi-handle:before {
  display: none;
}

.noUi-handle:after {
  display: none;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  cursor: pointer;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  box-shadow: none;
  border: 1px solid #999;
}

.noUi-horizontal[disabled] .noUi-handle,
.noUi-vertical[disabled] .noUi-handle,
[disabled].noUi-handle {
  cursor: not-allowed;
  background: #eee;
}

.noUi-vertical .noUi-handle {
  right: -4px;
  bottom: -11px;
}

.noUi-horizontal .noUi-handle {
  right: -11px;
  top: -4px;
}

.noUi-connect {
  background: #98afa5;
}

.noUi-target {
  background: #e9e9e9;
  box-shadow: none;
}
